* {
    font-family: 'Courier New', Courier, monospace
}

p {
    color:#0f1419;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#logo {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    /* margin-left: 20%; */
}

a {
    color:#db484a;
}

a:hover {
    color:#657ead;
}

body {
    background-color:#eae5d6;
    margin: 0px;
}
h2{
    text-align: center;
}

.about_text{
    text-align: center;
}
.zoey {
    text-align: center;
    max-height: 400px;
    
}

.about{
    margin-left: 15px;
}
.nav_menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
    margin-top:auto;
    background-color: #0f1419;
}

.nav_item {
    list-style: none;
}

.flex-container, #row1, #row2, #row3 {
   display: flex;
   flex-direction: row;
   margin-right: 30px;
   padding-top: 50px;
   /* width: 900px; */
}

.article_title_date_author {
    width: 345px;
    margin-left: 25px;
    flex-wrap: wrap;
}

.article_short_text{
    text-justify: left;
    width: 600px;
    height: 200px;
    margin-right: 10px;
    padding-left: 10px;
    flex-wrap: wrap;
    overflow: scroll;
    /* padding: 20px; */
}

.article_title {
    text-align:center;
}

.article_date{
    text-align: center;
}

.author, h5 {
color:#657ead;
}

.article_nav {
    display: flex;
    justify-content: space-between;
    max-width: 825px;
    margin-left: 30%;
    margin-right: 30%;

}

.article_text {
    max-width: 800px;
    height: 400px;
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    overflow: scroll;
}

.album-art-left{
    display: flex;
    float: left;
    padding-right: 25px;
}

.album-text-right {
    float: right;
}

.album-art-right {
    display: flex;
    float: right;
    padding-left: 25px;
}

.album-text-left{
    float: left;
}

#album-art-center, .album_art_center{
    text-align:center;
}

ul{
    list-style:none;
}

.album_title {
    font-style: italic;
}

#shop-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-iframe {
    display: block;
    width: 95%;
    min-height: 700px;
}

#pagination {
    text-align: center;
}
.pagination {
    display: inline-block;
  }
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  footer {
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

@media (max-width: 800px) {
   

    .flex-container {
      flex-direction: column;
    }
    
    .article_short_text{
        overflow: scroll;
        max-width: 300px;
        height: 200px;
        margin-left: 15%;
        
    }
    
    footer {
        text-align: center;
        width: 100%;
        margin-top: 30px;
    }
}